$clr-background-primary: #071829;
$clr-background-secondary: #132434;
$clr-secondary: #00B2FF;
$clr-text-neutral: #FFFFFF;
$clr-gray: #425568;

$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

/* Base Size */
$base-size: 1rem;

/* Size Scale */
$size-300: calc($base-size * 0.8);
$size-350: calc($base-size * 0.9);
$size-400: $base-size;
$size-450: calc($base-size * 1.2);
$size-500: calc($base-size * 1.33);
$size-550: calc($base-size * 1.5);
$size-600: calc($base-size * 1.77);
$size-650: calc($base-size * 2);
$size-700: calc($base-size * 2.4);
$size-750: calc($base-size * 2.8);
$size-800: calc($base-size * 3.2);
$size-850: calc($base-size * 3.8);
$size-900: calc($base-size * 4.26);
$size-950: calc($base-size * 4.8);
$size-1000: calc($base-size * 5.68);
$size-1050: calc($base-size * 6.4);
$size-1100: calc($base-size * 7.57);