@import '../../../../styles/config';
@import '../../../../styles//utilities/breakpoints';

@mixin flex-container($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.navbar__container {
    background-color: $clr-background-primary;
    @include flex-container(row, space-between, center);
    // padding: 1rem 4rem;
    padding: 1rem;
    color: $clr-secondary;
    height: 5rem;

    &>div:first-child {
        @include flex-container(row, center, center);
        gap: 0.8rem;

        &>span {
            background-color: $clr-secondary;
            padding: 0.8rem;
            border-radius: 0.5rem;
        }
    }

    &>div:last-child {
        font-weight: 600;
        font-size: $size-400;
    }

    @include desktop {
        padding: 1rem 4rem;
    }
}